<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039990595816-0ctl1kk6fpt0j9ii47t2vl4617kgm2uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039990595816-0ctl1kk6fpt0j9ii47t2vl4617kgm2uu</string>
	<key>API_KEY</key>
	<string>AIzaSyBEF9OyTiTmpjuC8Bc1gqTveCb4s_GfH4I</string>
	<key>GCM_SENDER_ID</key>
	<string>1039990595816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simplifit.befit</string>
	<key>PROJECT_ID</key>
	<string>bfit-187fe</string>
	<key>STORAGE_BUCKET</key>
	<string>bfit-187fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039990595816:ios:353014061ea63a7cc5295d</string>
</dict>
</plist>
